<!-- footer.ejs -->
<head>
  <link rel="stylesheet" href="../../public/css/footer.css" />
</head>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h5 class="text-center" style="color: rgb(255, 137, 2)">
          Join Our Community
        </h5>
        <ul class="list-inline social-icons text-center mb-0">
          <li>
            <a href="#"
              ><i class="fab fa-facebook" style="color: #3b5998"></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i class="fab fa-twitter" style="color: #1da1f2"></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i class="fab fa-instagram" style="color: #c13584"></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i class="fab fa-linkedin" style="color: #0077b5"></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i class="fab fa-youtube" style="color: #ff0000"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-google" style="color: #db4437"></i></a>
          </li>
          <li>
            <a href="#"
              ><i class="fab fa-threads" style="color: #1a0dab"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-center">
          &copy; 2024 &nbsp;<i
            class="fa-solid fa-b"
            style="color: rgb(255, 137, 2)"
          ></i
          >logify. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
