/* footer.css */

.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  padding-top: 20px;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.1);
}

.footer h5 {
  color: #343a40;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #3f99e7;
  text-decoration: none;
  font-size: 25px;
}

.social-icons {
  padding-left: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

/* footer.css */

.social-icons li a {
  color: #6c757d;
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.social-icons li a:hover {
  color: #6c757d;
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.social-icons ul {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 10px;
  }

  .social-icons li a {
    font-size: 18px;
  }
}
