<!-- users/signup.ejs -->

<% layout("/layouts/boilerplate") %>
<body
  style="
    background: transparent;
    backdrop-filter: blur(20px);
    background-color: rgb(207, 255, 239);
  "
>
  <br />
  <h3 class="mt-2 col-4 offset-4 text-center">SIGNUP</h3>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <form
          action="/signup"
          method="post"
          class="needs-validation"
          novalidate
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
            <div class="valid-feedback">Looks Good</div>
          </div>
          <div class="form-group mt-3">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
            <div class="valid-feedback">Looks Good</div>
          </div>
          <div class="form-group mt-3" >
            <label for="password">Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
              <span class="input-group-text">
                <i id="togglePassword" class="fas fa-eye"></i>
              </span>
            </div>
          </div>

          <!-- <div class="form-group mt-3">
            <label for="password">Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
                style="
                  width: calc(
                    100% - 38px
                  ); /* Input field width minus icon width */
                "
              />
              <span
                class="input-group-text"
                style="cursor: pointer"
                onclick="togglePassword()"
              >
                <i id="togglePasswordIcon" class="fas fa-eye"></i>
              </span>
            </div>
          </div> -->

          <div class="mt-3">
            <button type="submit" class="btn btn-success mt-3 col-4 offset-4">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<br /><br />
